#popup {
    position: fixed;
    top:0;
    width:100vw;
    height: 100vh;
    z-index: 999;
    visibility: hidden;
    background: #F2E1C2;

    &.popupBuyTicket_open{
        visibility: visible;
    }
    .container{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        padding: 6.9vw 8.4vw;
    }
    .wrapper {
        width: 100%;
    }
    .popup-header{
        display: flex;
        justify-content: space-between;

        .popup-title {
            max-width: 588px;
            width: 100%;
            // font-family:"Bebas Neue";
            font-style: normal;
            font-weight: 700;
            // font-size: min(7.9vw, 114px);
            // line-height: min(7.9vw, 114px);
            font-size: clamp(16px, 3.9vw, 114px);
            line-height: clamp(16px, 3.9vw, 114px);
            display: flex;
            align-items: center;
            letter-spacing: 0.025em;
            text-transform: uppercase;

            color: #262526;
        }
    }
    .popup-content {
        margin-top: min(5.55vw, 80px);
        .form__input{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: min(4.16vw, 60px);

        }
        .input-control {
            display: flex;
            flex-direction: column;
            width: 32.17%;
            
            @media screen and (max-width: 768px) {
                width: 100%;
            } 
        }
        // .input-control:not([type=submot]){
        //     background: none;
        //     border: none;
        //     border-bottom: 2px solid black;
        // }
        }

        form .btn {
            float: right;
        }
    }

    .close{
        cursor: pointer;
    }
}