#popup {
    position: fixed;
    top:0;
    width:100vw;
    height: 100vh;
    z-index: 999;
    visibility: hidden;

    &.popupBuyTicket_open{
        visibility: visible;
    }
    .container{
        background: #F2E1C2;
        width: 100%;
        height: 100%;
        position: absolute;
        max-width: unset;
        padding: unset;
    }
    .wrapper {
        padding: 6.9vw 8.4vw;
        width: 100%;
    }
    .popup-header{
        display: flex;
        justify-content: space-between;

        .popup-title {
            max-width: 588px;
            width: 100%;
        }
        h1 {
            // font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: 700;
            // font-size: 114px;
            font-size: min(7.9vw, 114px);
            line-height: min(7.9vw, 114px);
            display: flex;
            align-items: center;
            letter-spacing: 0.025em;
            text-transform: uppercase;

            color: #262526;
        }
    }
    .popup-content {
        .form__input{
            display: flex;

            .input {
                display: flex;
                flex-direction: column;

                width: 30%;
                
            }
        }
    }

    .close{
        cursor: pointer;
    }
}