#banner {
    background-image: url('/assets/img/fon.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;

    .container {
        flex-direction: column;
    }

    .text-animate {
        font-family: 'Bebas Neue', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 715.255px;
        line-height: 715px;
        text-align: center;
        letter-spacing: -0.015em;
      
        color: transparent;
        background-image: url(/assets/img/Mars_Moment.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        
    }

    svg {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0;
      height: 100%;
      bottom: 0;
      right: 0;
      margin: auto;
    }
    svg#line{
      left: 0;
      right: unset;
      width: unset;

      height: min(57.65vw,715.255px);
      position: absolute;
      top: 0px;
      margin: unset;
    }
    svg text{
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: min(57.65vw,715.255px);
        line-height: 715px;
        text-align: center;
        letter-spacing: -0.015em;
      }
      video {
        -webkit-clip-path: url(#clip);
        clip-path: url(#clip);
      }

      .wrapper-container {
        position: relative;
        width: 100%;
        top: 125px;
      }

      .banner-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: min(2.5vw, 36px);
        line-height: 44px;

        display: flex;
        align-items: center;
        letter-spacing: 0.025em;
        text-transform: uppercase;

        color: #F23207;

      }


    .smoke{
      background-image: url(/assets/img/smoke.png);
      background-size: cover;
      opacity: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.8;
      filter: blur(15px);
      -webkit-filter: blur(15px);
      animation: smoke1 4s infinite;
      -webkit-animation: smoke1 4s infinite;
      transition-duration: 0.5s all;
}

@keyframes smoke1 {
  0% {
    background-position: 100vw;
    opacity: 0;
    animation-timing-function: 'ease-in';
  } 
  50% {
    background-position: 50vw;
    opacity: 1;
    animation-timing-function: 'ease-out';
  }
  100% {
    background-position: 0vw;
    opacity: 0;
    animation-timing-function: 'ease-in';
  }
}
@keyframes smoke2 {
  from {
    background-position: 100vw;
    opacity: 0;
    animation-timing-function: 'ease-in';
  }
  
  to {
    background-position: 0vw;
    opacity: 1;
    animation-timing-function: 'ease-in';
  }
}
}


