#topnav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    // align-items: center;
    align-items: flex-start;
    text-transform: uppercase;
    
    a {
        color: #F2E1C2;
    }
    a:hover {
        color: #F23207;
        text-decoration: none;
    }
    .wrapper-topnav {
        display: flex;
        flex-direction: row;
    }
    .icon {
        display: none;
    }
    @media screen and (max-width:768px){
        .wrapper-topnav {
            display: none;
        }
        .icon {
            display: block;
            position: relative;
            z-index: 3;
        }
        &.mobile-menu_open {
            ul {
                display: block;
            }
            .wrapper-topnav {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                position: absolute;
                background: black;
                width: 100vw;
                left: 0;
                top: 0;
                z-index: 2;

                ul li {
                    padding: 5vw;
                }
            }
            button {
                width: 100%;
                justify-content: center;
            }
        }
    } 
    
}
